<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
     
	<!-- ========================================================== --> 
	<!-- General -->
	<!-- ========================================================== -->
	
	<!-- Application Name -->
	<display-name>numis</display-name>
	<description>Service that allows groups of people to pool money together.</description>
	
	<!-- Cluster -->
	<distributable />
	
	<!-- ========================================================== --> 
	<!-- Filter -->
	<!-- ========================================================== -->
	<filter>
		<filter-name>SparkFilter</filter-name>
		<filter-class>spark.servlet.SparkFilter</filter-class>
		<init-param>
			<param-name>applicationClass</param-name>
			<param-value>io.numis.service.Application</param-value>
		</init-param>
	</filter>
	
	<!-- Map the URL -->
	<filter-mapping>
		<filter-name>SparkFilter</filter-name>
		<url-pattern>/numis/*</url-pattern>
	</filter-mapping>
	
	<!-- ========================================================== -->
	<!-- Welcome Files -->
	<!-- ========================================================== -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>