<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
     
	<!-- ========================================================== --> 
	<!-- General -->
	<!-- ========================================================== -->
	
	<!-- Application Name -->
	<display-name>numis</display-name>
	<description>Service that allows groups of people to pool money together.</description>
	
	<!-- Cluster -->
	<distributable />
	
	<!-- ========================================================== --> 
	<!-- Filters -->
	<!-- ========================================================== -->
	<servlet>
		<servlet-name>SparkFilter</servlet-name>
		<servlet-class>spark.servlet.SparkApplication</servlet-class>
		<init-param>
			<param-name>mainClass</param-name>
			<param-value>io.numis.service.Application</param-value>
		</init-param>
	</servlet>
	
	<!-- Map the URL -->
	<servlet-mapping>
		<servlet-name>SparkFilter</servlet-name>
		<url-pattern>/numis/*</url-pattern>
	</servlet-mapping>
	
	<!-- ========================================================== -->
	<!-- Welcome Files -->
	<!-- ========================================================== -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>