<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="1.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Numis</display-name>

    
    <servlet>
      <servlet-name>NumisRegistrationServlet</servlet-name>
      <servlet-class>presentation.NumisInitServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
   

    
	<jsp-config>      
	     <taglib>
	        <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
	        <taglib-location>/WEB-INF/displaytag-11.tld</taglib-location>
	    </taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>    
    </jsp-config> 
     <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
	<!--  <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>  
	<filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
     
     <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->  

   

</web-app>
